body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(232, 239, 243, 0.949);
    color: #333;
}

header {
    background-color: #fcaba4;
    color: white;
    display: flex;
    justify-content: space-between;
    /* padding: 1em 0; */
    text-align: center;
}

h1 {
    margin-left: 20px;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    min-height: 100vh;
}

.content {
    height: 80vh;
    max-width: 50%;
}

.content h5 {
    color: #333;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.content h1 {
    font-size: 48px;
    color: #222;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}
.image{
    justify-content: start;
}

.btn {
    padding: 12px 25px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #4caf50;
}

.image img {
    max-width: 500px;
    width: 100%;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
}
/* -----------------------footer---------------------------- */
footer {
    background: #fcaba4;
    color: white;
    text-align: center;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-column {
    width: 22%;
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 15px;
    color: #ffcc00;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ff6600;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}

