body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    color: #333;
}

header {
    background-color: #ff6f61; 
    color: white;
    display: flex;
    justify-content: space-between;
    /* padding: 1em 0; */
    text-align: center;
}
h1{
    margin-left: 20px;
}
nav{
    display: flex;
}
nav a {
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;
  

}
.btn {
    background-color: rgba(0, 206, 209, 0.325);
    border-radius: 2px;

}

.menu-fruits h2 {
    font-size: 120%;
}

.menu-fruits {
    margin-top: 40px;
    display: flex;
    overflow-x: scroll;
    gap: 40px;

}

.crad-menu img {
    height: 100px;
    width: 100%;
}

.menu-fruits::-webkit-scrollbar {
    height: 7px;
}

.menu-fruits::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.crad-menu img {
    width: 210px;
    height: 200px;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.crad-menu {
    background-color: #dcd4d443;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.crad-menu:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 16px rgba(238, 124, 124, 0.525);
}

/* Laptops */
@media (max-width: 1200px) {
    .crad-menu img {
        width: 180px;
        height: 180px;
    }
}

/* Tablets */
@media (max-width: 820px) {
    .crad-menu img {
        width: 150px;
        height: 150px;
    }

    .menu-fruits {
        gap: 10px;
    }
}

/* Mobile phones */
@media (max-width: 600px) {
    .crad-menu img {
        width: 120px;
        height: 120px;
    }

    .menu-fruits {
        gap: 8px;
    }
}