body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    color: #333;
}

header {
    background-color: #fcaba4;
    color: white;
    display: flex;
    justify-content: space-between;
    /* padding: 1em 0; */
    text-align: center;
}

h1 {
    margin-left: 20px;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;


}

main h1 {
    text-align: center;
}

.btn {
    background-color: rgba(0, 206, 209, 0.325);
    border-radius: 2px;

}

.menu-fruits h2 {
    font-size: 120%;
}

.menu-fruits {
    margin-top: 40px;
    display: flex;
    overflow-x: scroll;
    gap: 40px;

}

.crad-menu img {
    height: 100px;
    width: 100%;
}

.menu-fruits::-webkit-scrollbar {
    height: 7px;
}

.menu-fruits::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.crad-menu img {
    width: 210px;
    height: 200px;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.crad-menu {
    background-color: #dcd4d443;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.crad-menu:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 16px rgba(238, 124, 124, 0.525);
}

/* Tablet Styles */
@media (max-width: 1024px) {
    .content h1 {
        font-size: 2.5rem;
    }

    .hero {
        padding: 3rem 5%;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        padding: 1rem 5%;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 70%;
        height: calc(100vh - 70px);
        background-color: #fcaba4;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 2rem;
        transition: right 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 2rem 5%;
    }


    .image {
        margin-top: -200px;
    }

    .content {
        margin-bottom: 2rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .product {
        max-width: calc(50% - 10px);
    }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
    .content h1 {
        font-size: 1.8rem;
    }

    .product {
        max-width: 100%;
    }

    .nav-links {
        width: 100%;
    }
}

footer {
    background: #fcaba4;
    color: black;
    text-align: center;

}

@media (max-width: 1024px) {
    footer {
        padding: 18px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 15px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    footer {
        padding: 12px;
        font-size: 13px;
    }
}